.articles-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  padding: 40px;
}

.empty-container-message {
  text-align: center;
}

@media screen and (min-device-width: 0px) and (max-device-width: 800px) {
  .articles-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
  }
}