@import '../../styles/mixins';
@import '../../styles/variables';

form > label,
form > select,
form > button {
  height: 2vh;
  margin: .25vw;
}

form > button {
  border: $main-color;
  width: 5vw;
  background-color: $main-color;
  color: #fff;
  border-radius: 10px;
}

@media screen and (min-device-width: 0px) and (max-device-width: 800px) {
  form {
    @include display-flex(column, normal, center);
  }
  form > select {
    margin-top: 2vh;
    width: 20vw;
    height: 5vh
  }
  form > button {
    margin-top: 2vh;
    width: 15vw;
    height: 5vh;
  }
}

@media screen and (min-device-width: 801px) and (max-device-width: 1300px) {
  form > button {
    width: 10vw;
  }
}