@import '../../styles/mixins';
@import '../../styles/variables';

.article-thumbnail {
  width: 12vw;
  margin-bottom: 1vh;
}

.article-card {
  @include display-flex(column, space-between, normal);
  border: 5px solid $main-color;
  padding: 10px;
  &:hover {
    cursor: pointer;
    transform: scale(1.03);
    transition-duration: .15s;
    box-shadow: 5px 5px 25px $main-color;
  }
  &:focus {
    cursor: pointer;
    transform: scale(1.03);
    transition-duration: .15s;
    box-shadow: 5px 5px 25px $main-color;
  }
}

.article-title {
  font-size: 2.5vh;
  margin-bottom: 1vh;
}

@media screen and (min-device-width: 0px) and (max-device-width: 800px) {
  .article-card {
    width: 50%
  }
}