@import '../../styles/mixins';
@import '../../styles/variables';

.modal-background {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .75);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left:0;
  z-index: 1;
}

.details-modal {
  @include display-flex(row, space-around, normal);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 56vh;
  width: 80vw;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 70px;
  border-radius: 100px;
}

.modal-details-container {
  @include display-flex(column, space-between, normal);
  margin-left: 0.5vw;
}

.modal-title {
  font-size: 5vh;
}

.modal-date,
.modal-abstract {
  font-size: 3vh;
}

.modal-byline {
  font-size: 2vh;
}

.modal-short-url-header {
  font-size: 3vh;
}

.modal-short-url {
  font-size: 2.5vh;
  text-decoration: none;
  color: $main-color;
}

.close-modal-button {
  width: 40%;
  align-self: center;
  border: 5px solid $main-color;
  background-color: $main-color;
  color: #fff;
  border-radius: 20px;
  font-size: 2vh;
}

@media screen and (min-device-width: 0px) and (max-device-width: 800px) {
  .modal-background {
    width: 100%;
    height: 100%;
  }
  .details-modal {
    @include display-flex(column, space-around, normal);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 56vh;
    width: 80vw;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 70px;
    border-radius: 100px;
  }

  .modal-image {
    width: 60%;
    align-self: center;
  }

  .modal-title,
  .modal-date {
    font-size: 3vh;
  }

  .modal-abstract {
    font-size: 2vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }

  .close-modal-button {
    margin-top: 2vh;
  }
}

@media screen and (min-device-width: 801px) and (max-device-width: 1300px) {
  .modal-background {
    height: 100%;
    width: 100%;
  }
  .details-modal {
    width: 80%;
    height: 50vh;
  }
  .modal-image {
    object-fit: contain;
    width: 50%;
  }
  .modal-title,
  .modal-date {
    font-size: 3vh;
  }

  .modal-abstract {
    font-size: 2vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }

  .close-modal-button {
    margin-top: 2vh;
  }
}
